@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
} 
a {
    text-decoration: none;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    padding: 3px 0px;
    height: 59px;
}
.logo {
    padding: 8px 10px;
    padding-top: 12px;
}
.logo img {
    width: 6vw;
}
.addr {
    padding: 7px 10px;
}
.firstline {
    font-family: sans-serif;
    color: rgb(214, 214, 214);
    font-size: 12px;
    font-weight: 300;
}
.secondline {
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 550;
}
.searchbar {
    background:rgb(238, 238, 238);
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px ;
}
.blockele {
    display: inline-block;
}
.type {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    height: inherit;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    overflow-y: hidden;
    background-color: rgb(197, 197, 197);
    font-family: sans-serif;
    font-size: 13px;
}
.textarea {
    width: 45vw;
}
input {
    padding: 0px 10px;
    background-color: rgb(238, 238, 238);
    border: 0px hidden;
    font-size: 15px;
}
.searchbtn {
    padding: 0px 10px;
    padding-top: 0px;
    background-color: rgb(235, 187, 97);
    height: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    align-items: center;
}
.searchbtn img {
    height: 2.5vh;
    padding: 0px 5px;
}
.flag {
    margin: 0px 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: baseline;
}
.flag img {
    width: 25px;
    border-radius: 5px;
}
.acc {
    padding: 7px 10px;
}
.orders {
    padding: 7px 10px;
}
.cart a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin: 0px 10px;
}
.cart p {
    padding-top: 15px;
    height: inherit;

}
.cart img {
    width: 50px;
    transform: rotateY(180deg);
}
.effect:hover {
    outline: 2px double white;
}
.categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0.5px 4px grey;
}
.opt {
    margin: 5px 22px;
    padding: 5px 10px;
    text-align: center;
}
.opt p:hover {
    color: rgb(12, 132, 253);
}
.opt img {
    width: 70px;
}
.opt a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 500;
    font-size: 15px;
}
.slider {
    margin: 12px;
    display: flex;
    justify-content: center;
}
.slider img {
    /* padding: 12px; */
    width: 100vw;
}
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(238, 238, 238);
    padding: 20px 0px;
}
.cont {
    width: 350px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 0.5px 4px grey;
    /* border: 3px solid aqua; */
}
.cont p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    padding: 10px 15px;
}
.links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.5px;
    padding: 10px 17px;
    color: darkblue;
    /* transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out; */
}
.links:hover a{
    color: orange;
}
.cont img {
    padding: 0px 15px;
    width: 320px;
    /* border: 2px solid red; */
}
.carousel {
    background-color: rgb(238, 238, 238);
    padding-bottom: 20px;
}
.content {
    width: 97vw;
    margin: auto; 
    background-color: white;
    box-shadow: 0px 0.5px 4px grey;
}
.ctitle {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.ctitle p {
    font-size: 22px;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    /* display: inline; */
}
.ctitle a {
    padding: 0px 15px;
    font-size: 15px;
}
.ctitle a:hover {
    color: orange;
}
.cimg {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 10px;
    padding-bottom: 15px;
    overflow: auto;
}
.cimg img {
    padding: 0px 10px;
    display: inline-block;
}
.backtotop {
    /* width: 100%; */
    /* height: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 69, 114);
}
.backtotop a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 25px 46.8vw;
    overflow: hidden;
    /* border: 1px solid red; */
}
.backtotop:hover {
    background-color: rgb(42, 81, 120);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 50px 200px;
    background-color: rgb(19, 53, 86);
    border-bottom: 0.3px solid lightgray;
    /* box-shadow: 0px 0.5px 4px grey; */
}
.about {
    padding: 10px 10px;
}
.about p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 0px;
    font-weight: 550;
    color: white; 
}
.about a {
    display: block;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px 1px;
    font-weight: 50;
}
.about a:hover {
    text-decoration: underline;
    color: rgb(254, 192, 76);   
}
.endlogo {
    background-color: rgb(19, 53, 86);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 550px;
}
.endlogo img {
    width: 150px;
}
.endlogo a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    padding: 8px 8px;
    border: 1px double lightgrey;
    border-radius: 3px;
}
.countries {
    background-color: rgb(19, 53, 86);
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.countries a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0px 10px;
    padding-bottom: 10px;
}
.countries a:hover {
    text-decoration: underline;
    color: rgb(254, 192, 76);
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgb(14, 36, 58);
    color: white;
    padding: 20px;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}